.body{
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid {
  display: center;
  display:block;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: auto;

}










